.questionContainer {
  margin: 12vh auto 0;
}

h2 {
  font-size: 3vmax;
}

.questionNumber {
  font-size: 3.5vmin;
  margin: 0 0 30px;
  font-family: $secondaryFont;
  text-decoration: underline;
}

.question {
  font-size: 4.5vmin;
  margin: 40px 15px;
  font-weight: bold;
}

.optionContainer {
  display: flex;
  list-style: none;
  justify-content: center;
}

.option {
  padding: 20px 30px;
}

input {
  background: transparent;
}

label {
  font-size: 3.5vmin;
}

.answer {
  width: 17vw;
  height: 7vmin;
  background-color: rgba($color: #000000, $alpha: 0.5);
  border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vmin;
  margin-top: 50px;
}

//responsive design

@media (max-width: 768px) {
  .questionContainer {
    margin: 10vh auto 0;
  }

  .question {
    font-size: 6vmin;
    margin: 20px 10px;
  }

  .questionNumber {
    font-size: 5vmin;
  }
  label {
    font-size: 3vmin;
  }

  .answer {
    width: 25vw;
    height: 10vmin;
  }
}

@media (max-width: 550px) {
  .questionContainer {
    margin: 5vh auto 0;
  }

  .question {
    margin: 0 8px 15px;
  }

  label {
    font-size: 2.7vmin;
  }

  .answer {
    width: 25vw;
    height: 10vmin;
  }

  .optionContainer {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .option {
    padding: 10px 15px;
  }
  .answer {
    width: 30vw;
  }
}
